footer {
  // height: 50px;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .link {
    color: #797ef3;
    display: flex;
    align-items: center;
    margin: 0 9px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 150ms ease-in-out;
  }

  > .imprint {
    &:hover {
      border: 1px solid #999ce5;
      font-weight: 500;
    }
  }

  > .policy {
    &:hover {
      border: 1px solid #999ce5;
      font-weight: 500;
    }
  }
}

@media (min-height: 1200px) {
  footer {
    font-size: 30px;
  }
}
